@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Lato:300,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
  font-size: 2em;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.text-first {
  color: #f7c08a;
}

.text-royal {
  font-family: "Berkshire Swash", cursive;
}

.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 20px 0;
}

.btn {
  display: inline-block;
  font-size: 0.8em;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.btn-dark {
  background-color: #333;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-light {
  background-color: #aaa;
  color: #333;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-dark:hover,
.btn-light:hover {
  background-color: #f7c08a;
  color: #333;
}

.navigation {
  background-color: #333;
  color: #fff;
  padding-top: 10px;
}

@media (min-width: 1025px) {
  .navigation {
    padding-top: 0;
  }
}

.navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) {
  .navigation .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px;
  }
}

.navigation .nav__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.navbar {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1025px) {
  .navbar {
    margin-top: 0;
  }
}

.navbar__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar__link {
  display: block;
  text-align: center;
  padding: 15px 20px;
  color: #fff;
}

.navbar .active {
  background-color: #444;
  color: #f7c08a;
}

@media (min-width: 1025px) {
  .navbar__link:hover {
    background-color: #444;
    color: #f7c08a;
  }
}

.showcase {
  min-height: 50vh;
  text-align: center;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/main.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase__header {
  font-size: 2em;
}

.showcase__paragraph {
  font-size: 0.8em;
  line-height: 1.4;
  margin-bottom: 20px;
  padding: 0 10px;
}

@media (min-width: 1025px) {
  .showcase__header {
    font-size: 3em;
  }
  .showcase__paragraph {
    font-size: 1.125em;
    line-height: 1.7;
    margin-bottom: 30px;
  }
  .showcase .btn {
    font-size: 1.125em;
  }
}

.home-info {
  min-height: 30vh;
  background-color: #333;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) {
  .home-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home-info .info-left {
  display: none;
}

@media (min-width: 1025px) {
  .home-info .info-left {
    display: block;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    position: relative;
    overflow: hidden;
  }
  .home-info .info-left__img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
  }
}

.home-info .info-right {
  min-height: 100%;
  text-align: center;
  padding: 30px 0;
}

@media (min-width: 1025px) {
  .home-info .info-right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.home-info .info-right__header {
  font-size: 1.2em;
}

.home-info .info-right__paragraph {
  font-size: 0.8em;
  line-height: 1.4;
  padding: 0 10px;
  margin-bottom: 20px;
}

@media (min-width: 1025px) {
  .home-info .info-right__header {
    font-size: 1.6em;
  }
  .home-info .info-right__paragraph {
    font-size: 1em;
    line-height: 1.5;
    padding: 0 10px;
    margin-bottom: 30px;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) {
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .features .box {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
  }
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: center;
  color: #333;
}

@media (min-width: 1025px) {
  .box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.box__icon {
  font-size: 2rem;
  margin: 10px 0;
}

.box__header {
  font-size: 1.2rem;
  margin: 10px 0;
}

.box__paragraph {
  font-size: 0.8rem;
  margin: 10px 0;
}

@media (min-width: 1025px) {
  .box__icon {
    font-size: 3rem;
    margin: 20px 0;
  }
  .box__header {
    font-size: 1.6rem;
    margin: 20px 0;
  }
  .box__paragraph {
    font-size: 1rem;
    margin: 20px 0;
    line-height: 1.5;
  }
}

.box:nth-child(1) {
  background-color: #aaa;
}

.box:nth-child(2) {
  background-color: #f7c08a;
}

.box:nth-child(3) {
  background-color: #aaa;
}

.footer {
  background-color: #444;
  padding: 10px;
  text-align: center;
}

.footer__paragraph {
  font-size: 0.8rem;
  color: #f7c08a;
}

@media (min-width: 1025px) {
  .footer {
    padding: 20px 10px;
  }
  .footer__paragraph {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

.about-info {
  background-color: #aaa;
  padding: 10px;
  color: #333;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__left {
  font-size: 1em;
}

.about__left--paragraph {
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 10px 0;
}

@media (min-width: 1025px) {
  .about__left {
    font-size: 1.2rem;
  }
  .about__left--paragraph {
    font-size: 1rem;
    line-height: 1.7;
    margin: 20px 10px 20px 0;
  }
}

.about__right {
  display: none;
}

@media (min-width: 1025px) {
  .about__right {
    display: block;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    height: 250px;
    overflow: hidden;
    position: relative;
  }
  .about__right--image {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
/*# sourceMappingURL=main.css.map */