@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Lato:300,400,700&display=swap');

$first-dark: #333;
$second-dark: #444;
$third-dark: #aaa;

$first-light: #f7c08a;
$second-light: #fff;

$first-font: 'Lato',
sans-serif;
$second-font: 'Berkshire Swash',
cursive;